<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <title>Admin dashboard</title>
</head>
<body>

    <div th:replace="~{fragments/header :: headerFragment}"></div>

    <div th:if="${successMessage}">
        <p th:text="${successMessage}"></p>
    </div>
    <br>

    <div class="container w-70">
        <div class="row mb-4">
            <div class="col-6">
                <div class="card">
                    <img th:src="@{/images/course-offerings.png}" class="card-img-top h-30" alt="course offerings picture">
                    <div class="card-body text-center">
                        <div class="card-title fs-3 fw-semibold text-primary-green mb-3">Course Offerings</div>
                        <div class="card-text d-flex flex-column align-items-start gap-1 mb-3 mx-auto">
                            <div><span class="fw-semibold">Active offerings: </span><span th:text="${courseOfferingsCount}"></span></div>
                            <div th:if="${latestCourseOffering != null}"><span class="fw-semibold">Last added:</span>
                                <span th:text="${latestCourseOffering.courseCode}"></span> -
                                <span th:text="${latestCourseOffering.courseName}"></span>
                                (<span th:text="${latestCourseOffering.semesterName}"></span>
                                <span th:text="${latestCourseOffering.semesterYear}"></span>)
                            </div>
                        </div>
                        <a th:href="@{/course-offerings/admin-view}" class="submit-btn text-decoration-none d-block">
                            Manage course offerings
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <img th:src="@{/images/courses.png}" class="card-img-top h-30" alt="courses picture">
                    <div class="card-body text-center">
                        <div class="card-title fs-3 fw-semibold text-primary-green mb-3">Courses</div>
                        <div class="card-text d-flex flex-column align-items-start gap-1 mb-3 mx-auto">
                            <div><span class="fw-semibold">Courses: </span><span th:text="${coursesCount}"></span></div>
                            <div th:if="${latestCourse != null}"><span class="fw-semibold">Last added:</span>
                                <span th:text="${latestCourse.code}"></span> -
                                <span th:text="${latestCourse.name}"></span>
                            </div>
                        </div>
                        <a th:href="@{/courses/view}" class="submit-btn text-decoration-none d-block">
                            Manage courses
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-6">
                <div class="card">
                    <img th:src="@{/images/semesters.jpg}" class="card-img-top h-30" alt="semesters picture">
                    <div class="card-body text-center">
                        <div class="card-title fs-3 fw-semibold text-primary-green mb-3">Semesters</div>
                        <div class="card-text d-flex flex-column align-items-start gap-1 mb-3 mx-auto">
                            <div th:if="${activeSemester != null}"><span class="fw-semibold">Active semester:</span>
                                <span th:text="${activeSemester.name}"></span>
                                <span th:text="${activeSemester.year}"></span>
                            </div>
                        </div>
                        <a th:href="@{/semesters/view}" class="submit-btn text-decoration-none d-block">
                            Manage semesters
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <img th:src="@{/images/users.jpg}" class="card-img-top h-30" alt="users picture">
                    <div class="card-body text-center">
                        <div class="card-title fs-3 fw-semibold text-primary-green mb-3">Users</div>
                        <div class="card-text d-flex flex-column align-items-start gap-1 mb-3 mx-auto">
                            <div th:if="${activeSemester != null}"><span class="fw-semibold">Users:</span>
                            </div>
                        </div>
                        <a th:href="@{/users/view}" class="submit-btn text-decoration-none d-block">
                            Manage users
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <img th:src="@{/images/teachers.jpg}" class="card-img-top h-30" alt="teachers picture">
                    <div class="card-body text-center">
                        <div class="card-title fs-3 fw-semibold text-primary-green mb-3">Teachers</div>
                        <div class="card-text d-flex flex-column align-items-start gap-1 mb-3 mx-auto">
                            <div><span class="fw-semibold">Teachers: </span><span th:text="${teachersCount}"></span></div>
                            <div th:if="${latestTeacher != null}"><span class="fw-semibold">Last added:</span>
                                <span th:text="${latestTeacher.firstname}"></span>
                                <span th:text="${latestTeacher.lastname}"></span>
                            </div>
                        </div>
                        <a th:href="@{/teachers/view}" class="submit-btn text-decoration-none d-block">
                            Manage teachers
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <img th:src="@{/images/students.jpg}" class="card-img-top" alt="students picture">
                    <div class="card-body text-center">
                        <div class="card-title fs-3 fw-semibold text-primary-green mb-3">Students</div>
                        <div class="card-text d-flex flex-column align-items-start gap-1 mb-3 mx-auto">
                            <div><span class="fw-semibold">Students: </span><span th:text="${studentsCount}"></span></div>
                            <div th:if="${latestStudent != null}"><span class="fw-semibold">Last added:</span>
                                <span th:text="${latestStudent.firstname}"></span>
                                <span th:text="${latestStudent.lastname}"></span>
                            </div>
                        </div>
                        <a th:href="@{/students/view}" class="submit-btn text-decoration-none d-block">
                            Manage students
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>